//-------------------------------------
// Grid Settings
//-------------------------------------

$max-width: 800px;
$grid-columns: 9;


//-------------------------------------
// Header
//-------------------------------------

.page {
  @include outer-container;
}

header {
  @include retina-image("../images/header-bg", null null, "jpg");
  @extend %margin-bottom-medium;
  background-size: cover;
  background-position: center center;
  border-bottom-left-radius: $layoutCornerRadius;
  border-bottom-right-radius: $layoutCornerRadius;
  height: 0;
  padding-top: 62.5%;
  position: relative;

  .header-wrap {
    position: absolute;
    left: $layoutPagePadding;
    right: $layoutPagePadding;
    bottom: 0;
  }

  h1 {
    @extend %no-margin;
    color: $colorOffWhite;
    text-transform: uppercase;
    font-size: 1.8em;
    text-shadow: 1px 1px 0 rgba(black, .2);

    @include media($breakTabletPortrait) {
      padding: .8em .4em;
      border-left: 1px solid $colorCorpHighlight;
      margin-left: .4em;
    }
  }

  h1,
  .logo {
    @extend %inline;
    @extend %margin-bottom-medium;

    @include media($breakTabletPortrait) {
      margin-bottom: 0;
    }
  }

  .logo {
    @include retina-image("../images/logo/sumup_logo_grey", 161px 42px, "png");
    width: 161px;
    height: 42px;
    text-indent: -999px;
  }
}

//-------------------------------------
// Status Bar
//-------------------------------------

.overall-status-bar {
  @include row;
  border-radius: $layoutCornerRadius;

  &.online {
    background-color: $colorSuccess;
    color: $colorSuccessDarker;

    @include media($breakTabletPortrait) { border-bottom: 1px solid $colorSuccessDarker }
  }

  .message,
  .updated-at {
    @include span-columns(9);
    padding: $layoutPagePadding/2 $layoutPagePadding;

    @include media($breakTabletPortrait) { padding: $layoutPagePadding }
  }

  .message {
    color: shade($colorSuccessDarker, 30%);
    font-size: 1.2em;
    border-bottom: 1px solid $colorSuccessDarker;

    @include media($breakTabletPortrait) {
      @include span-columns(5 of 9);
      border-bottom: none;
    }
  }

  .updated-at {
    @include span-columns(9);
    font-size: em(12);
    border-bottom: none;

    @include media($breakTabletPortrait) {
      @include span-columns(4 of 9);
      text-align: right;
    }

    .label {
      // display: block;
      font-size: .9em;
      text-transform: uppercase;
    }

    .date,
    .time {
      color: shade($colorSuccessDarker, 30%);
    }

    .date {
      font-weight: 500;
    }
  }
}

//-------------------------------------
// Services
//-------------------------------------


.main-content {
  @include row;
  padding: 0 $layoutPagePadding;

  h2 {
    @extend %margin-bottom-medium;
  }

  .service {
    @extend %margin-bottom-small;
    border-bottom: 1px solid $colorBorderLight;
    padding-bottom: $layoutPagePadding/2;

    &:last-of-type { border-bottom: none }

    @include media($breakTabletLandscape) {
      @include span-columns(3 of 9);
      border-bottom: none;
    }

    h3 {
      @extend %no-margin-top;

      &, &:before { vertical-align: top }

      &:before {
        content: "";
        width: 1em;
        height: 1em;
        border-radius: $layoutCornerRadius;
        border: 1px solid;
        display: inline-block;
        margin-right: 0.5em;
      }
    }

    &.online {
      h3:before {
        border-color: $colorSuccessDarker;
        background-color: $colorSuccess;
      }
    }

    &.problems {
      h3:before {
        border-color: $colorWarningDarker;
        background-color: $colorWarning;
      }
    }

    &.offline {
      h3:before {
        border-color: $colorErrorDarker;
        background-color: $colorError;
      }
    }
  }

  .status-message {
    font-size: em(12);
    line-height: 1.4;
  }
}

//-------------------------------------
// Footer
//-------------------------------------

footer {
  @include row;
  @extend %margin-top-large;
  padding: $layoutPagePadding;
  border-top-left-radius: $layoutCornerRadius;
  border-top-right-radius: $layoutCornerRadius;
  background-color: $colorDarkGrey;
  color: $colorOffWhite;
  // font-size: em(12);

  p {
    @extend %no-margin;
    @include span-columns(9);
    @extend %margin-top-medium;
  }

  h4 {
    color: $colorOffWhite;

    @include media($breakTabletLandscape) {
      margin-top: 0;
    }
  }

  &, a { color: lighten($colorDarkGrey, 20%) }

  a {
    text-decoration: none;

    &:hover { color: lighten($colorDarkGrey, 30%) }
  }

  nav {
    @include span-columns(9);

    @include media($breakTabletPortrait) {
      @include span-columns(3 of 9);
      @include omega(3n);
    }
  }
}