<header class="page-header">
  <a href="/" class="logo" alt="{{ site.name }}">
    <svg class="svg-logo">
      <use xlink:href="#logo" />
    </svg>
  </a>

  <a href="#" id="toggle-menu" class="nav-wrap__toggle">
    <div class="hamburger hamburger--close">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </a>

  <nav id="main-nav" class="navigation">
    <ul class="list">
      <li>Brand</li>
      <li><a href="/">Overview</a></li>
    </ul>

    <ul class="list">
      <li>Design</li>
      <li><a href="/design/logo">Logo</a></li>
      <li><a href="/design/typography">Typography</a></li>
      <li><a href="/design/colors">Colors</a></li>
      <li><a href="/design/imagery">Imagery</a></li>
    </ul>

    <ul class="list">
      <li>Language</li>
      <li><a href="/language/tone-of-voice">Tone Of Voice</a></li>
    </ul>

    <ul class="list">
      <li>Resources</li>
      <li><a href="/downloads">Downloads</a></li>
    </ul>
  </nav>
</header>
