// Museo
@font-face {
  font-family: Museo;
  src: url(https://static.sumup.com/fonts/western-latin/MuseoSans_300-webfont.woff);
  font-weight: 300;
}

@font-face {
  font-family: Museo;
  src: url(https://static.sumup.com//fonts/western-latin/MuseoSans_300_Italic-webfont.woff);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Museo;
  src: url(https://static.sumup.com/fonts/western-latin/MuseoSans_500-webfont.woff);
  font-weight: 500;
}

// Museo rounded
@font-face {
  font-family: "Museo Rounded";
  src: url(https://static.sumup.com//fonts/western-latin/MuseoSansRounded-100-webfont.woff);
  font-weight: 100;
}

@font-face {
  font-family: "Museo Rounded";
  src: url(https://static.sumup.com//fonts/western-latin/MuseoSansRounded-300-webfont.woff);
  font-weight: 300;
}
