//-------------------------------------
// Download section
//-------------------------------------

.download-list {
  @include row();

  li {
  	@include span-columns(12);

    @include media($breakTabletPortrait) {
      @include span-columns(4);
    }
  }

  .button {
    &:before {
      @include size(1em);
      margin-right: 4px;
      content: '';
      display: inline-block;
      background: url('/images/download.svg') no-repeat center center;
      background-size: contain;
    }
  }
}
