//-------------------------------------
// Download section
//-------------------------------------

.download-list {
  @include row();

  li {
  	@include span-columns(12);

    @include media($breakTabletPortrait) {
      @include span-columns(4);
    }
  }

  h4 {
  	display: inline-block;
  	font-weight: 500;
  	position: relative;
  	padding-right: 1.5em;

	  &:before {
	  	@include size(1em);
	  	position: absolute;
	  	right: 0;
	  	top: 0;
	  	content: '';
	  	display: block;
	  	background: url('/images/download.svg') no-repeat center center;
	  	background-size: contain;
	  }
	}

	p {
		max-width: 15em;
		margin-bottom: 1em;
	}
}
