//-------------------------------------
// Logo usage
//-------------------------------------

span.incorrect {
  color: $colorErrorDarker;
}

figure.incorrect {
  position: relative;
  background-color: $colorOffWhite;

  &:before,
  &:after {
    @include transform-origin(center center);
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: $colorError;
    position: absolute;
    top: 49.5%;
    left: 10%;
  }

  &:before {
    @include transform(rotate(30deg));
  }

  &:after {
    @include transform(rotate(-30deg));
  }
}

figcaption.incorrect {
  strong { color: $colorErrorDarker }
}

.logo-usages {
  @include row();

  .figure-wrap {
    @include span-columns(12);

    @include media($breakTabletPortrait) {
      @include span-columns(6);
    }
  }

  figure {
    @extend %no-margin;
    text-align: center;
    border-radius: $layoutCornerRadius $layoutCornerRadius $layoutCornerRadius 0;
  }

  figcaption {
    font-size: em(11);
    text-transform: uppercase;
    padding-top: em(4);
    line-height: 1;
  }

  img {
    width: 60%;
    margin: 12% 0;

    @include media($breakTabletPortrait) {
      width: 50%;
    }
  }

  .logo-on-white { background-color: $colorOffWhite }
  .logo-on-blue { background-color: $colorCorpHighlight }
}
