<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SumUp Brand Center | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    {% include icons.html %}

    <div class="page">
      <header class="page-header">
        <a href="/" class="svg-logo" alt="{{ site.name }}">
          <svg class="logo">
            <use xlink:href="#logo" />
          </svg>
        </a>
      </header>

      <div class="main">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
