<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SumUp Brand Center | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>

  <body>
    {% include icons.html %}

    <div class="page">
      {% include header.html %}

      <div class="main">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/assets/js/helpers.js" charset="utf-8"></script>
    <script src="/assets/js/brandbook.js" charset="utf-8"></script>
  </body>
</html>
