/**
 * Logo display
 */

figure.logo-usage {
  margin-bottom: $spacing-m;

  &.light .fake-hero {
    background-color: $color-light;
    fill: $color-dark;
  }

  &.dark .fake-hero {
    background-color: $color-dark;
    fill: $color-light;
  }

  .svg-logo {
    width: 150px;
    height: 40px;
    margin-bottom: $spacing-m;
    display: block;
  }
}

.fake-hero {
  padding: $spacing-m;
  border-radius: $border-radius;
}

.fake-paragraphs {
  p {
    text-indent: -9999px;
    width: 50%;
    background-color: $color-medium;
    line-height: 1em;
    border-radius: 1px;

    &:first-child { width: 65% }
    &:last-child { width: 55%; margin-bottom: 0 }
  }
}

.fake-button {
  display: inline-block;
  margin-top: $spacing-m;
  text-indent: -9999px;
  min-width: 100px;
}

@media (min-width: $big-screens) {
  .logo-usage-examples {
    display: flex;
  }

  .logo-usage {
    flex-grow: 1;

    &:first-of-type { padding-right: $spacing-m }
    &:last-of-type { padding-left: $spacing-m }
  }
}
