/**
 * Typography
 */

// import fontface definitions here
@import "fonts";


// style basic elements
body {
  font-family: Museo, Verdana, sans-serif;
  font-weight: 300;
  font-feature-settings: "liga" 1;
  color: $dark;
  font-size: 14px;
  line-height: 24px;
}

// headlines
//
// we address the html elements directly,
// but also provide styling classes for cases in which you'd like to
// have a headline look like <h1> but it is actually an <h2> elem.

h1, .h1,
h2, .h2 {
  font-family: "Museo Rounded", Verdana, sans-serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 72px;
}

h2, .h2 {
  font-size: 32px;
  line-height: 48px;
}

h3, .h3
h4, .h4 {
  color: $brand;
  font-weight: 300;
  letter-spacing: 0.03em;
}

h3, .h3 {
  font-size: 18px;
  line-height: 30px;
}

// links
a {
  color: $cta;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
