/**
 * The overlord color rulers are here!
 * Bow to your new masters human scumm!1
 */

// Primary colors
$brand: #5C8BCC;
$brand-light: #8EB6ED;
$brand-dark: #416494;

$cta: #52CCA7;
$cta-light: #95E6CD;
$cta-dark: #338069;

// Secondary colors
$dark: #323E4D;
$grey: #CED2D9;
$light: #F0F2F5;
$offwhite: #FAFBFC;

// Attention colors
$success: $cta;
$success-dark: $cta-dark;
$warning: #F0CC60;
$warning-dark: #99823D;
$alert: #CC5252;
$alert-dark: #732E2D;
