<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>SumUp Brand Center | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- endbuild -->

</head>
<body>

  <div class="page">
    <header class="grid-container">
      <a href="/" class="logo">{{ site.name }}</a>

      <nav class="main-navigation">
        <ul class="unstyled">
          <li><a class="button outline small" href="https://sumup.com">Product</a></li>
          <li><a class="button outline small" href="http://support.sumup.com">Support</a></li>
          <li><a class="button outline small" href="https://sumup.co.uk/press">Press</a></li>
        </ul>
      </nav>
    </header>

    <div class="main">
      {{ content }}
    </div>

    <footer class="footer grid-container">
      <div class="contact">
        <p>
          Nils Borchers<br />
          <a href="mailto:nils.borchers@sumup.com">nils.borchers@sumup.com</a>
        </p>
      </div>
    </footer>
  </div>

  <!-- build:js(app) /js/scripts.js -->
  <script src="/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
