---
layout: default
title: Logo
---

<header class="section-header">
  <h1>Logo</h1>
  <p>Our brand mark can be found … well about everywhere in the SumUp world and on anything, anyone could ever think to print or display a logo.</p>
  <p>We show it proudly on every piece of packaging, marketing materials, it's the proud sponsor of our app icons, websites, handbooks … the liist goes on – you get the picture.</p>

  <p><strong>All this is the reason why we have to treat our logo with the utmost respect and care.</strong></p>
</header>

<section id="logo-usage">
  <h3>How to use the logo</h3>

  <div class="logo-usage-examples">
    <figure class="logo-usage light">
      <figcaption>Dark Logo on light background</figcaption>

      {% include snippets/fake-hero.html %}
    </figure>

    <figure class="logo-usage dark">
      <figcaption>Dark Logo on light background</figcaption>

      {% include snippets/fake-hero.html %}
    </figure>
  </div>
</section>
