//-------------------------------------
// Color guidelines
//-------------------------------------

.color-values {
  li:not(:last-child) {
    border-bottom: 1px solid;
    border-color: $colorLightGrey;
  }

  .label {
    display: inline-block;
    width: 30%;
    font-weight: 500;
    font-size: em(12);
    text-transform: uppercase;
  }

  .value {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: em(12);
  }
}

.color-group {
  @include row();
}

/**
 * Primary Colors
 */

.primary-colors .color-tiles {
  & > li {
    @include span-columns(12);

    @include media($breakTabletLandscape) {
      @include span-columns(6);
    }
  }
}

.primary-color {
  header {
    display: flex;
    min-height: 6em;

    h4 {
      white-space: nowrap;
      margin-top: 0.3em;
      margin-right: $layoutPagePadding;
    }
  }

  .desc {
    padding-left: $layoutCompPadding;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: $layoutPagePadding;
      content: "";
      height: 1px;
      width: $layoutPagePadding;
      background-color: $colorCorpHighlight;
      display: block;
    }
  }

  .example {
    padding: $layoutCompPadding;
    border-radius: $layoutCornerRadius;
  }

  // Setting colors to examples
  &.corp-highlight {
    .example {
      border: 1px solid $colorLightGrey;
    }

    .highlight-example {
      max-width: 80%;
      margin: $layoutCompPadding auto;
      background-color: $colorCorpHighlight;
      text-align: center;
      color: white;
      padding: $layoutPagePadding;
      border-radius: $layoutCornerRadius;
    }
  }

  .color-values {
    padding-top: $layoutCompPadding;
  }

  &.corp-darkgrey {
    .example {
      border: 1px solid $colorLightGrey;

      p:first-of-type { margin-top: 0 }

      div {
        padding: $layoutPagePadding;
        margin-left: -$layoutPagePadding;
        margin-right: -$layoutPagePadding;
        background-color: $colorDarkGrey;
        border-radius: $layoutCornerRadius;

        p:first-child {
          text-decoration: line-through;
          color: $colorCorpHighlight;
        }

        p:last-child {
          color: $colorOffWhite;
          margin-bottom: 0;
        }
      }
    }
  }
}

/**
 * Feedback Colors
 */

.feedback-colors .color-tiles {
  & > li {
    @include span-columns(12);

    @include media($breakTabletLandscape) {
      @include span-columns(4);
    }
  }
}

.feedback-color {
  .example {
    padding: $layoutCompPadding;

    &.dark {
      background-color: $colorDarkGrey;
      color: $colorOffWhite;
      border-radius: $layoutCornerRadius $layoutCornerRadius 0 0;

      .color-values li {
        border-color: lighten($colorDarkGrey, 10%);
      }
    }

    &.light {
      border-radius: 0 0 $layoutCornerRadius $layoutCornerRadius;
      background-color: $colorOffWhite;
    }
  }

  .example-content {
    border-radius: $layoutCornerRadius;
    padding-top: 30%;
    margin-bottom: $layoutPagePadding;
  }
}
