/**
 * Stuff used througout the site
 */

// logo definitions
.logo {
  display: block;
  width: 140px;
  height: 37px;
  fill: $color-dark;

  @media (min-width: $big-screens) {
    width: 160px;
    height: 42px;
  }
}

.svg-logo {
  width: 100%;
  height: 100%;
}

// emphasize stuff
em {
  background-color: $color-brand;
  font-style: normal;
  display: inline-block;
  padding: 0 .2em;
  line-height: 1.1em;
}

strong {
  font-weight: 500;
  font-style: normal;
}


// browser text selection color
::selection {
  background: rgba($color-highlight, 0.4); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba($color-highlight, 0.4); /* Gecko Browsers */
}


// figures
figure {
  figcaption {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: $spacing-xs;
  }
}
