/**
 *
 * Footer stuff
 */


.footer {
  background-color: $color-dark;
  color: white;
  padding-bottom: $spacing-l;
  z-index: 1;
}

.footer__links {
  a {
    display: inline-block;
    margin-right: $spacing-m;
  }
}
