/**
 * General page layout
 */

$desktopSidebarWidth: 250px;

html {
  height: 100%; // needed for sticky footer
}

body { // needed for sticky footer
  @include display(flex);
  @include flex-direction(column);
  min-height: 100%;
}

.page-header,
.main,
.footer {
  padding: $spacing-m;
  box-sizing: border-box;

  @include media($big-screens) {
    padding: $spacing-l;
  }
}

.page-header {
  @include media($until-big-screens) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media($big-screens) {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 60vh;
    margin-right: $spacing-l;
    padding-right: $spacing-l;
    border-right: 1px solid $color-light;
    width: $desktopSidebarWidth;
  }
}

.page {
  @include flex(1); // needed for sticky footer

  @include media($big-screens) {
    @include display(flex);

    &:before {
      // used to push out .main to where it
      // were without the sidebar being pos: fixed
      @include flex-shrink(0);
      content: "";
      width: $desktopSidebarWidth;
      display: block;
    }
  }
}

.main {
  h1:first-of-type { margin-top: -0.1em }

  @include media($big-screens) {
    flex-grow: 1;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

// sections
.section-header {
  article.intro {
    p:first-child { margin-top: 0 }

    @include media($big-screens) {
      @include column-count(2);
      @include column-fill(balance);
    }
  }
}
