/**
 *
 * Navigation
 */

// navigation link-list layout
.navigation {
  font-family: $font-family-display;

  a { display: block }

  // first level li's
  & > ul > li {
    padding-bottom: $spacing-m;
  }

  // indent 2nd level or deeper
  li ul li ul {
    padding-left: $spacing-m;
    font-size: 0.8em;
  }

  // first level main nav items are dark
  & > ul > li > a {
    font-weight: $font-weight-medium;
  }
}

// mobile layout
@include media($until-big-screens) {
  .hamburger {
    z-index: 20;
    position: relative;
  }

  .navigation {
    transition: box-shadow .4s .15s, transform .5s;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: $spacing-m;
    background-color: $color-white;
    transform: translateY(-100%);

    &.showing {
      box-shadow: 0px 5px 45px rgba($color-dark, .5);
      transform: translateY(0);
    }

    a { padding: .3em }
  }
}

// desktop layout
@include media($big-screens) {
  .hamburger { display: none }

  .navigation {
    margin-top: $spacing-xxl;

    a { margin-bottom: $spacing-s }
  }
}
