/**
 * Stuff used througout the site
 */


em {
  @include shadowBox(white, $brand);
  font-style: normal;
  display: inline-block;
  padding: 0 .2em;
  line-height: 1.1em;
}

::selection {
  background: rgba($cta, 0.4); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba($cta, 0.4); /* Gecko Browsers */
}
