//-------------------------------------
// Welcome section
//-------------------------------------

.welcome {
  background-color: $colorCorpHighlight;
  background-image: url('/assets/images/logo-construction-bg.svg');
  background-size: cover;
  color: $colorOffWhite;
  padding: em(40) 0;

  @include media($breakDesktop) {
    padding: em(100) 0 em(50) 0;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  h1 { @extend %no-margin-top }
}

.welcome-text {
  @include animation(fadeInDown .3s 1s ease-in backwards);
  width: 100%;

  h1 {
    margin-left: -(em(1));

    @include media($breakTabletLandscape) { font-size: 5em }
  }

  h1, p {
    text-shadow: 0 2px 0 rgba(darken($colorCorpHighlight, 20%), .3);
  }

  p {
    @include media($breakTabletLandscape) { max-width: 40% }
  }
}
